
@{
    ViewBag.Title = "Documentação";
}

<h2>Documentação</h2>

<p>Essa é uma página qualquer que exige autenticação e autorização</p>

<p>
    @Html.ActionLink("[Voltar a HOME]", "Index", "Home")
</p>

